<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
  <div class="container">
    <header>
      <nav>
        <ul>
          <li><a href="{{ '/' | relative_url }}">/me</a></li>
          <li><a href="{{ '/life' | relative_url }}">/life</a></li>
          <li><a href="{{ '/blog' | relative_url }}">/blog</a></li>
          <li><a href="{{ '/projects' | relative_url }}">/projects</a></li>
        </ul>
      </nav>
      <hr>
    </header>

    <main>
      {{ content }}
    </main>

    <footer>
      <hr>
    </footer>
  </div>
</body>
</html>